.root {
  padding: 100px var(--padding-horizontal);
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--support-dark-grey);
    bottom: 0;
    left: 0;
  }
}